<template>
  <div id="newpost">
    <div class="card">
      <div class="card-header">
        <!-- Select Account -->
        <h4 class="card-title">
          <i class="ft-edit"></i> สร้างโพส</h4>
        <a class="heading-elements-toggle">
          <i class="fa fa-ellipsis-v font-medium-3"></i>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <transition-group name="slide-fade">
            <selectAccount v-if="start_post" key="selectAccount" :idAccount.sync="data_post.id_account"
                           :accounts="accounts"></selectAccount>
            <hr key="hr" v-if="data_post.id_account"/>
            <form-wizard key="form-wizard" v-if="data_post.id_account" color="#3498db" title="" subtitle=""
                         nextButtonText="ถัดไป" backButtonText="ย้อนกลับ" finishButtonText="ทำรายการ">
              <tab-content title="ตั้งค่าข้อความและประเภทโพส" :beforeChange="check_tab_one">
                <PostsBox :data_post.sync="data_post"></PostsBox>
              </tab-content>
              <tab-content title="เป้าหมายของโพส">
                <groupsUser :data_post.sync="data_post" :groups="groups"></groupsUser>
              </tab-content>
              <tab-content title="ตั้งเวลาการโพส">
                <SetupPostTime :data_post.sync="data_post"></SetupPostTime>
              </tab-content>
              <tab-content title="ตรวจสอบความถูกต้อง">
                Yuhuuu! This seems pretty damn simple
              </tab-content>
            </form-wizard>
          </transition-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {config} from '@/config';
  import {Alert, selectAccount, groupsUser, PostsBox, SetupPostTime} from '../HTML';
  import swal from 'sweetalert2';
  import {FormWizard, TabContent} from 'vue-form-wizard';
  import 'vue-form-wizard/dist/vue-form-wizard.min.css';

  export default {
    name: 'newpost',
    data: function () {
      return {
        start_post: false,
        accounts: [],
        groups: [],
        data_post: {
          id_account: '',
          post_type: 'status',
          post_target: 'profile',
          post_now: true,
          txt_message: '',
          txt_link: '',
          txt_product: '',
          txt_price: '',
          photos: [],
          currency: 'thb',
          setup_time: {
            random_interval: 60,
            date_start: new Date(),
            hour: '00',
            minute: '00',
            set_post_interval: {
              enable: false,
              day: '0'
            },
            set_post_repeat: {
              enable: false,
              unlimited_date: true,
              unit_time: 'minute',
              unit_value: 1,
              date: new Date(),
              hour: '00',
              minute: '00'
            }
          }
        },
      }
    },
    mounted: function () {
      this.get_account();
      this.start_post = !this.start_post;
    },
    watch: {
      'data_post.id_account': function () {
        if (this.data_post.id_account == '') return false;
        this.get_user_groups();
      }
    },
    methods: {
      check_tab_one: function () {
        if (this.data_post.post_type === 'product') {
          if (!this.data_post.txt_message || !this.data_post.txt_product) {
            swal('ไม่พบข้อมูลสินค้า', 'กรุณากรอกข้อมูลให้ครบก่อนทำรายการต่อไป', 'info');
            return (false);
          }
        }
        if (!this.data_post.txt_message) {
          swal('ไม่พบสถานะ', 'ใส่สถานะของคุณก่อนทำการโพส', 'info');
          return (false);
        }
        return (true);
      },
      get_account: function () {
        const _this = this;
        _this.$http.get(config.URL_GET_ACCOUNT + '?token=' + this.$cookies.get('_token')).then(function (res) {
          _this.accounts = res.body.data;
        });
      },
      get_user_groups: function () {
        const _this = this;
        _this.data_post.token = this.$cookies.get('_token');
        /*_this.$http.get(config.URL_GET_USER_GROUPS, {params: _this.message}).then(function (res) {
         //console.log(res.body.result);
         _this.groups = res.body.result.data;
         });*/
      },
      post_social: function () {
        const _this = this;
        this.$http.post(config.URL_POST_SOCIAL + '?token=' + this.$cookies.get('_token'), _this.message).then(function (res) {
          if (res.body.status === 100) {
            swal(
              'สำเร็จ',
              'โพสข้อความใหม่สำเร็จ',
              'success'
            );
          }
        });
      }
    },
    components: {
      Alert,
      selectAccount,
      groupsUser,
      PostsBox,
      FormWizard,
      TabContent,
      SetupPostTime
    }
  }
</script>

<style>
  .table-group {
    overflow-y: scroll;
    height: 300px;
  }

  .table.no-bt td {
    border-top: 0;
    font-weight: 500;
    font-size: 14px;
  }

  .scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 320px;
  }
</style>
