<template>
  <div id="posts">
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-body"><!-- Description -->
         <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'posts'
    }
</script>
