<template>
  <div id="hello">
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <!--<div class="content-header row">
          <div class="content-header-left col-md-6 col-xs-12 mb-1">
            <h3 class="content-header-title">Dashboard | ภาพรวม</h3>
          </div>
        </div>-->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="primary">0</h3>
                      <span class="fz-16">โพสทั้งหมด</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-user-follow primary font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="danger">0</h3>
                      <span class="fz-16">โพสที่ตั้งเวลา</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-social-dropbox danger font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="success">0</h3>
                      <span class="fz-16">จำนวนคอมเมนต์ทั้งหมด</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-layers success font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <div class="media">
                    <div class="media-body text-xs-left">
                      <h3 class="warning">0</h3>
                      <span class="fz-16">แพ็คเกจบัญชี</span>
                    </div>
                    <div class="media-right media-middle">
                      <i class="icon-globe warning font-large-2 float-xs-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row match-height">
          <div class="col-xl-6 col-lg-12">
            <div class="card" style="height:407px;">
              <div class="card-header">
                <h4 class="card-title"><i class="icon-note"></i> โพสล่าสุด</h4>
                <div class="heading-elements">
                  <router-link to="/post-report" class="btn btn-secondary btn-sm"><i class="icon-layers"></i> ดูทั้งหมด
                  </router-link>
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right"><i class="icon-calendar ppr-1"></i> 20/08/2017 10:30น.</span> Kristopher Candy
                  </li>
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right"><i class="icon-calendar ppr-1"></i> 20/08/2017 10:30น.</span> Kristopher Candy
                  </li>
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right"><i class="icon-calendar ppr-1"></i> 20/08/2017 10:30น.</span> Kristopher Candy
                  </li>
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right"><i class="icon-calendar ppr-1"></i> 20/08/2017 10:30น.</span> Kristopher Candy
                  </li>
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right"><i class="icon-calendar ppr-1"></i> 20/08/2017 10:30น.</span> Kristopher Candy
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card" style="height: 407px;">
              <div class="card-header">
                <h4 class="card-title"><i class="icon-notebook"></i> รายการบัญชี</h4>
                <div class="heading-elements">
                  <router-link to="/settings/account" class="btn btn-secondary btn-sm"><i class="icon-user"></i>
                    จัดการบัญชี
                  </router-link>
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="tag tag-default tag-pill bg-primary float-xs-right">Facebook</span> Thanarak chaisri
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row match-height">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    computed: {
      username() {
        return this.$store.state.username;
      }
    },
    data() {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
    mounted: function () {
      $('#recent-buyers').perfectScrollbar({
        wheelPropagation: true
      });
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
