<template>
  <!-- navbar-left-bar-->
  <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
      <ul data-menu="menu-navigation" class="navigation navigation-main">
        <br/>
        <li class=" nav-item">
          <router-link to="/">
            <i class="ft-mail"></i><span data-i18n="" class="menu-title">ภาพรวม</span></router-link>
        </li>
        <li class=" navigation-header"><span>การโพส</span><i data-toggle="tooltip" data-placement="right"
                                                             data-original-title="Apps" class=" ft-minus"></i></li>
        <li class=" nav-item">
          <router-link to="/posts/new-post">
            <i class="ft-mail"></i><span data-i18n="" class="menu-title">สร้างโพส</span></router-link>
        </li>
        <li class=" nav-item">
          <router-link to="/post-report">
            <i class="ft-message-square"></i><span data-i18n="" class="menu-title">รายงานการโพส</span></router-link>
        </li>
        <li class=" navigation-header"><span>ตั้งค่า</span><i data-toggle="tooltip" data-placement="right"
                                                              data-original-title="Apps" class=" ft-minus"></i></li>
        <li class=" nav-item">
          <router-link to="/settings">
            <i class="ft-mail"></i><span data-i18n="" class="menu-title">จัดการบัญชี</span></router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'leftbar'
  }
</script>
