<template>
  <div id="pagelogin">
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <section class="flexbox-container">
            <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1">
              <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header no-border">
                  <div class="card-title text-xs-center i-sell-l-title">
                    <div class="p-1"><img src="../assets/logo isell only pic 256.png" alt="branding logo"/> 
                     <div class="p-1">Isell.in.th</div>
                    </div>
                  </div>
                  <h2 class="card-subtitle line-on-side text-muted text-xs-center pt-2 primary darken-1 "><span>ยินดีต้อนรับสู่ไอเซลล์</span>
                  </h2>
                  <div class="card-subtitle i-sell-l-sub  text-xs-center pt-2">
                    ตัวช่วยให้คุณจัดการโพสโซเซียลง่ายๆ เพียงแค่ปลายนิ้ว ..
                  </div>
                </div>
                <div class="card-body collapse in">
                  <div class="card-block">
                    <form class="form-horizontal form-simple" novalidate>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control form-control-lg input-lg" v-model="data_login.email"
                               placeholder="อีเมล์" required>
                        <div class="form-control-position">
                          <i class="ft-user"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control form-control-lg input-lg"
                               v-model="data_login.password"
                               placeholder="รหัสผ่าน" required>
                        <div class="form-control-position">
                          <i class="fa fa-key"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <i_button_login :data_login="data_login"></i_button_login>
                      </fieldset>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="">
                    <p class="float-sm-left text-xs-center m-0">
                      <router-link to="/recover-password" class="card-link"><i class="ft-rotate-ccw"></i> ลืมรหัสผ่าน
                      </router-link>
                    </p>
                    <p class="float-sm-right text-xs-center m-0">ยังไม่มีบัญชีไอเซลล์ ?
                      <router-link to="/register"
                                   class="card-link"><i class="ft-user-plus"></i> สมัครบริการ
                      </router-link>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {i_button_login} from './HTML';
  export default{
    name: 'pagelogin',
    data: function () {
      return {
        data_login: {
          email: '',
          password: ''
        }
      }
    },
    components: {
      'i_button_login': i_button_login
    }
  }
</script>
