<template>
  <div id="register">
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <section class="flexbox-container">
            <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1">
              <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header no-border">
                  <div class="card-title text-xs-center i-sell-l-title">
                    <div class="p-1"><img src="../assets/logo isell only pic 256.png" alt="branding logo" />
                      <div class="p-1">Isell.in.th</div>
                    </div>
                  </div>
                  <h2 class="card-subtitle line-on-side text-muted text-xs-center pt-2 primary darken-1 ">
                    <span>สมัครใช้บริการ</span>
                  </h2>
                  <div class="card-subtitle i-sell-l-sub  text-xs-center pt-2">
                    เพื่อการเข้าใช้งานระบบของไอเซลล์ สมัครฟรี !!
                  </div>
                </div>
                <div class="card-body collapse in">
                  <div class="card-block">
                    <form class="form-horizontal form-simple" novalidate>
                      <div class="row">
                        <div class="col-md-6">
                          <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control form-control-lg input-lg" maxlength="100" placeholder="ชื่อ" required v-model="data_register.name">
                            <div class="form-control-position">
                              <i class="ft-user"></i>
                            </div>
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control form-control-lg input-lg" maxlength="100" placeholder="นามสกุล" required v-model="data_register.lastName">
                            <div class="form-control-position">
                              <i class="ft-user"></i>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="email" class="form-control form-control-lg input-lg" maxlength="100" placeholder="อีเมล์" required v-model="data_register.email">
                        <div class="form-control-position">
                          <i class="ft-mail"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control form-control-lg input-lg" max="20" placeholder="รหัสผ่าน" required v-model="data_register.password">
                        <div class="form-control-position">
                          <i class="fa fa-key"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control form-control-lg input-lg" max="20" placeholder="รหัสผ่านอีกครั้ง" required v-model="data_register.password_confirm">
                        <div class="form-control-position">
                          <i class="fa fa-key"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="tel" class="form-control form-control-lg input-lg" maxlength="11" placeholder="เบอร์โทร" required v-model="data_register.phone">
                        <div class="form-control-position">
                          <i class="ft-phone-call"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <i_button_register :data_register="data_register"></i_button_register>
                      </fieldset>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="">
                    <p class="float-sm-left text-xs-center m-0">

                    </p>
                    <p class="float-sm-right text-xs-center m-0">หากคุณมีบัญชีแล้ว ?
                      <router-link to="/" class="card-link">
                        <i class="ft-log-in"></i> เข้าสู่ระบบ
                      </router-link>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { i_button_register } from './HTML';
export default {
  name: 'register',
  data: function() {
    return {
      data_register: {
        name: '',
        lastName: '',
        email: '',
        password: '',
        password_confirm: '',
        phone: ''
      }
    }
  },
  components: {
    'i_button_register': i_button_register
  }
}
</script>
