<template>
    <div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                key: value
            }
        },
        methods: {
            name() {
                
            }
        },
    }
</script>

<style scoped>

</style>