<template>
  <div id="topbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item mobile-menu hidden-md-up float-xs-left">
              <a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs">
                <i class="ft-menu font-large-1"></i>
              </a>
            </li>
            <li class="nav-item">
              <router-link to="/" class="navbar-brand">
                <img alt="stack admin logo" src="../assets/logo isell only pic 54.png" class="brand-logo">
                <h2 class="brand-text">ไอเซลล์</h2>
              </router-link>
            </li>
            <li class="nav-item hidden-sm-down float-xs-right">
              <a data-toggle="collapse" class="nav-link modern-nav-toggle">
                <i data-ticon="ft-toggle-right" class="toggle-icon ft-toggle-right font-medium-3 white"></i>
              </a>
            </li>
            <li class="nav-item hidden-md-up float-xs-right">
              <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                <i class="fa fa-ellipsis-v"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="ficon fa fa-book"></i> การใช้งาน</a>
              </li>

            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="dropdown dropdown-user nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                  <span class="avatar avatar-online"><img src="/static/theme/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                    <i></i>
                  </span>
                  <span class="user-name">{{ displayUsername }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <router-link to="/settings/info" class="dropdown-item">
                    <span class="icon-list-g">
                      <i class="ft-user"></i>
                    </span>
                    จัดการบัญชี
                  </router-link>
                  <router-link to="/settings/password" class="dropdown-item">
                    <span class="icon-list-g">
                      <i class="ft-lock"></i>
                    </span>
                    เปลี่ยนรหัสผ่าน
                  </router-link>
                  <router-link to="/settings/package" class="dropdown-item">
                    <span class="icon-list-g">
                      <i class="ft-package"></i>
                    </span>
                    แพ็คเกจ
                  </router-link>
                  <div class="dropdown-divider"></div>
                  <a href="#" v-on:click="AuthLogout" class="dropdown-item">
                    <span class="icon-list-g">
                      <i class="ft-power"></i>
                    </span> ออกจากระบบ</a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'topbar',
  computed: {
    displayUsername: function() {
      return this.$store.state.data_login.username;
    }
  },
  methods: {
    AuthLogout: function() {
      this.$cookies.remove('id_user');
      this.$cookies.remove('username');
      this.$cookies.remove('email');
      this.$cookies.remove('_token');
      this.$store.commit('setLogin', false);
      this.$router.push('/');
    }
  }
}
</script>
