/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

body {
  font-family: 'Athiti', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Athiti', sans-serif;
  font-weight: 600 !important;
}

.navigation,
.navigation .navigation-header,
.nav {
  font-family: 'Athiti', sans-serif;
  font-weight: 500;
}

.list-g-block li {
  padding: 0;
}

.list-g-block li a {
  display: block;
  padding: 1.25rem 1.25rem;
}

.list-g-block li a.router-link-active {
  background-color: #f4f4f4;
}

.list-g-block li a:hover {
  background-color: #f4f4f4;
}

.icon-list-g {
  width: 40px;
  text-align: left;
  color: #333;
}

.btn {
  font-weight: 600;
}

.i-sell-l-title .p-1 {
  font-size: 28px;
  text-decoration: none;
  font-weight: 700;
}

.i-sell-l-sub {
  font-size: 18px;
}

.dropdown .dropdown-menu .dropdown-item {
  font-weight: 500;
}

.line-on-side {
  border-bottom: 1px solid #eeeeee;
}

.main-menu.menu-dark .navigation > li.navigation-header.open {
  border-left: 4px solid transparent;
}

.card-header .card-title {
  font-size: 1.4rem !important;
}

.tag {
  font-weight: 500;
}

.w500 {
  font-weight: 500 !important;
}

a.nav-link {
  font-weight: 500 !important;
}

.fz-16 {
  font-size: 16px;
}

.ppr-1 {
  padding-right: 5px;
}

.callout-title {
  font-size: 16px;
}

.btn {
  font-weight: 500;
}

.navbar-header .brand-logo {
  width: 32px;
}

.navbar-header.expanded .brand-logo {
  width: 54px;
  height: 27px;
}

.swal2-modal {
  top: -20%;
}

.no-resize {
  resize: none
}

.head_form {
  padding: 4px 0;
  color: #00AEB1;
  font-size: 16px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.mr-0-5 {
  margin-right: 5px;
}

.btn-add-g {
  font-size: 18px;
}

.btn-add-g:hover {
  color: #00AEB1;
}

.at-green {

}

.form-control {
  border: 1px solid #e5e6e9;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}

.vdp-datepicker__calendar .cell.day-header {
  font-size: 100% !important;
}

.vdp-datepicker__calendar .cell {
  height: 30px !important;
  line-height: 30px !important;
}

.vdp-datepicker__calendar {
  padding: 10px !important;
  margin-top: 10px !important;
  border: 1px solid #e5e6e9 !important;
}

.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
  color: #FFF;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f5f7fb;
}

.wizard-tab-container {
  min-height: 350px;
}

.custom-control-indicator {
  width: 1.2rem;
}
