<template>
  <div id="groupsUser">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="head_form">
            <i class="ft-layers"></i> กำหนดเป้าหมายของโพส</label>
          <div class="mb-1" align="center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button"
                      :class="{ active: data_post.post_target === 'profile', 'btn btn-md btn-outline-secondary' : true}"
                      @click="handlePostTarget('profile')">
                <i class="ft-user"></i> โพสบนโปรไฟล์
              </button>
              <button type="button"
                      :class="{ active: data_post.post_target === 'group', 'btn btn-md btn-outline-secondary' : true}"
                      @click="handlePostTarget('group')">
                <i class="ft-users"></i> โพสบนกลุ่ม
              </button>
              <button type="button"
                      :class="{ active: data_post.post_target === 'page_like', 'btn btn-md btn-outline-secondary' : true}"
                      @click="handlePostTarget('page_like')">
                <i class="ft-thumbs-up"></i> โพสบนแฟนเพจถูกใจ
              </button>
              <button type="button"
                      :class="{ active: data_post.post_target === 'page_own', 'btn btn-md btn-outline-secondary' : true}"
                      @click="handlePostTarget('page_own')">
                <i class="ft-flag"></i> โพสบนแฟนเพจของฉัน
              </button>
            </div>
          </div>
          <transition name="slide-fade">
            <fieldset class="form-group position-relative" v-if="data_post.post_target === 'group'">
              <input v-model="search" type="text" class="form-control form-control" id="iconLeft1"
                     placeholder="กรอกชื่อกลุ่มเพื่อค้นหา">
              <div class="form-control-position">
                <i class="ft-search font-medium-4"></i>
              </div>
            </fieldset>
          </transition>
        </div>
      </div>
    </div>
    <div class="row match-height" v-if="filter_groups && data_post.post_target === 'group'">
      <div class="col-md-12">
        <VuePerfectScrollbar class="scroll-area" :settings="settings">
          <table class="table table-hover no-bt">
            <tbody>
            <tr v-for="group in filter_groups" :key="group.id">
              <td width="2%" align="center">
                <div class="icheck1">
                  <i class="ft-plus-circle btn-add-g"></i>
                </div>
              </td>
              <td width="50%">{{ group.name }}</td>
              <td width="10%">ประเภทกลุ่ม :
                <span v-html="group_privacy(group.privacy)"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </VuePerfectScrollbar>
        <br/>
        <p>พบ {{filter_groups.length}} กลุ่ม</p>
      </div>
    </div>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    name: 'groupsUser',
    props: ['data_post', 'groups'],
    data: function () {
      return {
        search: '',
        settings: {
          wheelPropagation: true,
          minScrollbarLength: 80,
        }
      }
    },
    computed: {
      filter_groups: function () {
        const _this = this;
        return _this.groups.filter(function (group) {
          return group.name.toLowerCase().indexOf(_this.search.toLowerCase()) > -1;
        });
      }
    },
    methods: {
      group_privacy: function (privacy) {
        return privacy === 'OPEN' ? '<span class="blue darken-4">เปิด</span>' : '<span class="warning darken-4">ปิด</span>';
      },
      handlePostTarget: function (provider) {
        let data_post = this.data_post;
        data_post.post_target = provider;
        this.$emit('update:data_post', data_post);
      }
    },
    components: {
      VuePerfectScrollbar
    }
  }
</script>

<style scoped>

</style>
