<template>
  <div id="post-box">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="row  match-height">
            <div class="col-md-8 col-xs-12 col-lg-9">
              <div class="form-group">
                <label class="head_form">
                  <i class="ft-file"></i> ประเภทโพส / รายละเอียด</label>
                <div class="mb-1" align="center">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button"
                            :class="{ active: data_post.post_type === 'status', 'btn btn-md btn-outline-secondary' : true}"
                            @click="handlePostType('status')">
                      <i class="fa fa-edit"></i> สถานะทั่วไป
                    </button>
                    <button type="button"
                            :class="{ active: data_post.post_type === 'link', 'btn btn-md btn-outline-secondary' : true}"
                            @click="handlePostType('link')">
                      <i class="fa fa-link"></i> แบบลิงค์
                    </button>
                    <button type="button"
                            :class="{ active: data_post.post_type === 'photo', 'btn btn-md btn-outline-secondary' : true}"
                            @click="handlePostType('photo')">
                      <i class="fa fa-camera"></i> แบบรูปภาพ
                    </button>
                    <button type="button"
                            :class="{ active: data_post.post_type === 'product', 'btn btn-md btn-outline-secondary' : true}"
                            @click="handlePostType('product')">
                      <i class="fa fa-shopping-cart"></i> แบบสินค้า
                    </button>
                  </div>
                </div>
                <div class="position-relative">
                  <transition-group name="slide-fade">
                    <div key="command-group" class="mt-1">
                      <div align="left">
                        <button @click="show_command = !show_command" class="btn btn-primary btn-sm"><i
                          class="ft-info"></i> แสดงคำสั่งพิเศษ
                        </button>
                      </div>
                      <transition name="slide-fade">
                        <div class="command-status mt-1" v-if="show_command">
                          <p>คำสั่งพิเศษสำหรับแทนตัวอักษร</p>
                          <p class="blue-grey lighten-2">!group = กลุ่มที่โพส</p>
                          <p class="blue-grey lighten-2">!day = วันปัจจุบัน เช่น จันทร์ , อังคาร</p>
                          <p class="blue-grey lighten-2">!month = เดือนปัจจุบัน</p>
                          <p class="blue-grey lighten-2">!year = ปีปัจจุบัน</p>
                          <p class="blue-grey lighten-2">
                            Example : วันนี้เป็นวัน !day เดือน !month ปี !year ฉันได้โพสลงในกลุ่ม !group</p>
                        </div>
                      </transition>
                    </div>
                    <textarea key="txt_message" v-model="data_post.txt_message" ref="txt_message" rows="11"
                              class="form-control no-resize at-green mt-1"
                              name="notes" :placeholder="ptm"></textarea>
                    <input key="link-input" class="form-control mt-1" v-if="data_post.post_type === 'link'"
                           v-model="data_post.txt_link"
                           placeholder="ใส่ที่อยู่ลิงค์ของคุณ เช่น https://www.isell.in.th"/>
                    <div key="box-product" class="" v-if="data_post.post_type === 'product' ">
                      <div key="txt_product" class="row">
                        <div class="col-md-12">
                          <input class="form-control mt-1"
                                 v-model="data_post.txt_product"
                                 placeholder="คุณต้องการจะขายอะไร"/>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-md-6">
                          <input v-model.number="data_post.txt_price" class="form-control primary darken-1 " min="0"
                                 max="99999999999"
                                 maxlength="99999999999" type="number" placeholder="ราคาขาย"/>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control" v-model="data_post.currency">
                            <option value="thb">THB</option>
                            <option value="usd">USD</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div key="photos" v-if="data_post.post_type === 'photo' || data_post.post_type === 'product' "
                         class="mt-1">
                      <UploadImagePost :photos.sync="data_post.photos"></UploadImagePost>
                    </div>
                  </transition-group>
                </div>
              </div>
              <!--<div class="form-group">
                <label class="head_form">
                  <i class="ft-feather"></i> ต้นแบบ</label>
                <div class="position-relative">
                  <div>
                    <fieldset>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" v-model="save_template">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">บันทึกการโพสไว้ใช้ครั้งต่อไป</span>
                      </label>
                    </fieldset>
                    <transition name="slide-fade">
                      <div class="row" v-if="save_template">
                        <div class="col-md-12">
                          <input class="form-control no-resize" placeholder="ชื่อแม่แบบที่บันทึก"/>
                        </div>
                      </div>
                    </transition>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="col-md-4 col-xs-12 col-lg-3">
              <div class="form-group">
                <label class="head_form">
                  <i class="ft-eye"></i> ตัวอย่างโพส</label>
                <div class="mb-1" align="">
                  <div class="timeline-wrapper">
                    <div class="timeline-item">
                      <div class="animated-background">
                        <div class="background-masker header-top"></div>
                        <div class="background-masker header-left"></div>
                        <div class="background-masker header-right"></div>
                        <div class="background-masker header-bottom"></div>
                        <div class="background-masker subheader-left"></div>
                        <div class="background-masker subheader-right"></div>
                        <div class="background-masker subheader-bottom"></div>
                        <!--<div class="background-masker content-top"></div>
                        <div class="background-masker content-first-end"></div>
                        <div class="background-masker content-second-line"></div>
                        <div class="background-masker content-second-end"></div>
                        <div class="background-masker content-third-line"></div>
                        <div class="background-masker content-third-end"></div>-->
                      </div>
                      <div class="clearfix"></div>
                      <div class="content_box mt-1">
                        <div v-if="data_post.post_type === 'product'" class="mb-1">
                          <div class="preview-title-product">{{ data_post.txt_product }}</div>
                          <div class="preview-price success darken-4">
                            {{ txt_calculator}}
                          </div>
                        </div>
                        <div class="preview-status" v-html="re_txt_message"></div>
                        <transition name="slide-fade">
                          <div key="preview-link" v-if="data_post.post_type === 'link' && data_post.txt_link"
                               class="preview-link mt-1">
                            <div class="image"></div>
                            <div class="content-link">
                              <div class="l-title"></div>
                              <div class="l-sub-title"></div>
                              <div class="l-website"></div>
                            </div>
                          </div>
                        </transition>
                        <div key="preview-photo"
                             v-if="data_post.post_type === 'photo' ||  data_post.post_type === 'product'">
                          <transition name="slide-fade">
                            <ul class="preview-photo mt-1" v-if="data_post.photos.length > 0">
                              <li></li>
                              <li></li>
                              <li></li>
                            </ul>
                          </transition>
                        </div>
                      </div>
                      <div class="comment_box mt-1">
                        <ul>
                          <li><i class="ft-thumbs-up"></i> ถูกใจ</li>
                          <li><i class="ft-message-square"></i> คอมเมนต์</li>
                          <li><i class="fa fa-share"></i> แชร์</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2';
  import UploadImagePost from './UploadImagePost';

  export default {
    name: 'post-box',
    props: ['data_post'],
    data: function () {
      return {
        save_template: false,
        show_command: false,
      }
    },
    watch: {
      'data_post.txt_price': function () {
        const max_price = 99999999;
        if (this.data_post.txt_price > max_price) {
          let data_post = this.data_post;
          data_post.txt_price = max_price;
          this.$emit('update:data_post', data_post);
        }
      }
    },
    computed: {
      re_txt_message: function () {
        let text = this.data_post.txt_message;
        text = text.trim();
        text = text.replace(/</igm, '&lt;');
        text = text.replace(/>/igm, '&gt;');
        text = text.replace(/&lt;br/igm, '<br>');
        text = text.replace(/br&gt;/igm, '');
        text = text.replace(/\r?\n/igm, '<br>');
        text = text.replace(/<br><br>\s?/igm, '');
        return text;
      },
      ptm: function () {
        if (this.data_post.post_type === 'product') {
          return 'อธิบายเกี่ยวกับสินค้าของคุณ';
        }
        return 'ข้อความที่ต้องการโพสลงบนเฟสบุ๊ค';
      },
      txt_calculator: function () {
        const format_price = this.data_post.txt_price.toLocaleString(undefined, {minimumFractionDigits: 0}) || 0;
        if (this.data_post.currency === 'thb') {
          return '฿' + format_price;
        } else {
          return '$' + format_price;
        }
      }
    },
    mounted: function () {

    },
    methods: {
      handlePostType: function (provider) {
        let data_post = this.data_post;
        data_post.post_type = provider;
        this.$emit('update:data_post', data_post);
      }
    },
    components: {
      UploadImagePost
    }
  }
</script>

<style>
  .preview-title-product {
    font-weight: 600;
  }

  .preview-price {
    margin-top: 5px;
  }

  .preview-photo {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: block;
    height: 340px;
  }

  .preview-photo li:nth-of-type(1) {
    width: 100%;
    display: block;
    height: 217px;
    background-color: #eeeeee;
  }

  .preview-photo .preview-price {

  }

  .preview-photo li:nth-of-type(2) {
    width: 49%;
    height: 117px;
    background-color: #eeeeee;
    position: absolute;
    top: 225px;
    left: 0px;
  }

  .preview-photo li:nth-of-type(3) {
    width: 49%;
    height: 117px;
    background-color: #eeeeee;
    position: absolute;
    top: 225px;
    right: 0px;
  }

  .preview-status {
    font-weight: 400;
  }

  .preview-link {
    border: 1px solid #e5e6e9;
  }

  .preview-link .image {
    min-height: 219px;
    background-color: #eeeeee;
    border-bottom: 1px solid #e5e6e9;
  }

  .preview-link .content-link {
    min-height: 95px;
    padding: 10px;
  }

  .preview-link .content-link .l-title:before {
    content: 'ตัวอย่างลิงค์';
    display: block;
    font-size: 20px;
  }

  .preview-link .content-link .l-sub-title:before {
    margin-top: 5px;
    content: 'Lorem Ipsum คือ เนื้อหาจำลองแบบเรียบๆ ที่ใช้กันในธุรกิจงานพิมพ์หรืองานเรียงพิมพ์ มันได้กลายมาเป็นเนื้อหาจำลองมาตรฐานของธุรกิจดังกล่าวมาตั้งแต่ศตวรรษที่ 16';
    display: block;
    line-height: 18px;
    font-size: 14px;
  }

  .preview-link .content-link .l-website:before {
    margin-top: 5px;
    content: 'www.isell.in.th';
    display: block;
    font-size: 18px;
    color: #90949c;
    font-weight: 400;
  }

  .command-status {
    border: 2px dashed #e5e6e9;
    padding: 10px;
  }

  .command-status p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .command-status p:first-of-type {
    font-weight: 600;
  }

  .content_box {
    display: block;
    z-index: 999;
    text-align: left;
    min-height: 172px;
  }

  .comment_box {
    text-align: left;
    display: block;
    z-index: 999;
    width: 100%;
    border-top: 1px solid #e5e6e9;
    padding-top: 10px;
  }

  .comment_box ul {
    margin: 0;
    padding: 0;
  }

  .comment_box ul li {
    display: inline-block;
    margin-right: 1em;
    font-weight: 600;
    color: #d5d6d9;
  }

  .timeline-item {
    font-family: "Segoe UI", Tahoma;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9;
    border-radius: 3px;
    padding: 12px;
    max-width: 100%;
    /*min-height: 400px;*/
  }

  /*@keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }*/

  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 40px;
    position: relative;
  }

  .background-masker {
    background: #fff;
    position: absolute;
  }

  /* Every thing below this is just positioning */

  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
  }

  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }

  .background-masker.header-bottom {
    top: 18px;
    height: 6px;
  }

  .background-masker.subheader-left,
  .background-masker.subheader-right {
    top: 24px;
    height: 6px;
  }

  .background-masker.header-right,
  .background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
  }

  .background-masker.subheader-right {
    left: 230px;
  }

  .background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
  }

  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }

  .background-masker.content-top {
    height: 20px;
  }

  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }

  .background-masker.content-second-line {
    top: 68px;
  }

  .background-masker.content-second-end {
    left: 420px;
    top: 74px;
  }

  .background-masker.content-third-line {
    top: 82px;
  }

  .background-masker.content-third-end {
    left: 300px;
    top: 88px;
  }
</style>
