<template>
  <div class="row" id="select_account">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <label class="head_form">
          <i class="ft-user"></i> บัญชีที่โพส</label>
        <div class="position-relative">
          <transition name="slide-fade">
            <div class="mb-1" v-if="select_index">
              <img class="profile_picture" :src="select_index.picture">
              <p class="pf_detail">
                <span>User name : {{select_index.account_name}}</span><br/>
                <span>User id : {{select_index.id_facebook}}</span>
              </p>
            </div>
          </transition>
          <select class="form-control border-primary" v-model="select_index">
            <option value="">-- เลือกบัญชี --</option>
            <option v-for="account in accounts" :value="account">{{ account.account_name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'select_account',
    props: ['accounts', 'idAccount'],
    data: function () {
      return {
        select_index: ''
      }
    },
    watch: {
      select_index: function (val) {
        const _this = this;
        if (_this.select_index === undefined) return false;
        if (val.id_facebook) {
          _this.$emit('update:idAccount', val.id_facebook);
        } else {
          _this.$emit('update:idAccount', '');
        }
      }
    }
  }
</script>

<style scoped>
  img.profile_picture {
    float: left;
    width: 42px;
    margin-right: 10px;
  }

  pf_detail {
    float: left;
  }
</style>
