<template>
  <div id="setup-post-time">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="form-group">
          <label class="head_form">
            <i class="ft-calendar"></i> กำหนดการเวลาโพส</label>
          <div class="position-relative">
            <div>
              <fieldset>
                <label class="custom-control custom-radio">
                  <input ref="time_now" name="setup_time" type="radio" class="custom-control-input"
                         v-model="data_post.post_now" :value="true">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">โพสตอนนี้</span>
                </label>
              </fieldset>
              <fieldset>
                <label class="custom-control custom-radio">
                  <input ref="time_delay" name="setup_time" type="radio" class="custom-control-input"
                         v-model="data_post.post_now" :value="false">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">ตั้งค่าวันเวลาโพส</span>
                </label>
              </fieldset>
            </div>
          </div>
        </div>

        <transition-group name="slide-fade">
          <div key="start-post" class="form-group" v-if="!data_post.post_now">
            <div class="position-relative">
              <div class="row mb-1 start-post-text">
                <div class="col-md-6" align="right">
                  <i class="ft-radio"></i> เริ่มการโพสเวลา
                </div>
                <div class="col-md-6" align="left">
                <span class="primary darken-4 font-600">
                    {{ data_post.setup_time.date_start.getDate() + '/' + two_digi_number(data_post.setup_time.date_start.getMonth()) + '/' + data_post.setup_time.date_start.getFullYear()}}
                    {{ data_post.setup_time.hour}}:{{ data_post.setup_time.minute}} น.</span>
                  สุ่มเวลาโพส <span class="primary darken-4 font-600">{{ data_post.setup_time.random_interval}}</span>
                  วินาที
                </div>
              </div>
              <transition name="slide-fade">
                <div class="row start-post-text" v-if="data_post.setup_time.set_post_repeat.enable">
                  <div class="col-md-6" align="right">
                    <i class="ft-rotate-ccw"></i> เงื่อนไขการโพสซ้ำ
                  </div>
                  <div class="col-md-6" align="left">
                    <span class="primary darken-4 font-600">{{ post_repeat_text }}</span>
                    <transition name="slide-fade">
                      <span v-if="!data_post.setup_time.set_post_repeat.unlimited_date">จนถึงวันที่
                      <span class="primary darken-4 font-600">
                        {{ data_post.setup_time.set_post_repeat.date.getDate() + '/' + two_digi_number(data_post.setup_time.set_post_repeat.date.getMonth()) + '/' + data_post.setup_time.set_post_repeat.date.getFullYear()}}
                        {{ data_post.setup_time.set_post_repeat.hour }}:{{ data_post.setup_time.set_post_repeat.minute
                        }} น.
                      </span>
                    </span>
                    </transition>
                  </div>
                </div>
              </transition>
              <transition name="slide-fade">
                <div class="row start-post-text" v-if="data_post.setup_time.set_post_interval.enable">
                  <div class="col-md-6" align="right">
                    <i class="ft-chevrons-right"></i> หยุดและเริ่ม
                  </div>
                  <div class="col-md-6" align="left">

                  </div>
                </div>
              </transition>
              <div class="mt-3 mb-3">
                <hr/>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="label-control" align="center"><i class="ft-wind"></i> สุ่มเวลาการโพส</label>
                  <select class="form-control  font-600" v-model="data_post.setup_time.random_interval">
                    <option v-for="i in 101" class="font-600" :value="i+59">{{ two_digi_number(i + 59) }} วินาที
                    </option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label class="label-control" align="center"><i class="ft-calendar"></i> เริ่มโพสวันที่</label>
                  <fieldset class="form-group position-relative">
                    <datepicker id="datePicker" v-model="data_post.setup_time.date_start"
                                input-class="form-control font-600 ip-d"
                                calendar-class="celendar-clock" language="th"></datepicker>
                  </fieldset>
                </div>
                <div class="col-md-2">
                  <label class="label-control" align="center"><i class="ft-clock"></i> เลือกชั่วโมง</label>
                  <select class="form-control  font-600" v-model="data_post.setup_time.hour">
                    <option value="00" class="font-600">00</option>
                    <option v-for="i in 23" class="font-600">{{ two_digi_number(i++) }}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label class="label-control" align="center"><i class="ft-clock"></i> เลือกนาที</label>
                  <select class="form-control font-600" v-model="data_post.setup_time.minute">
                    <option value="00" class="ip-d font-600">00</option>
                    <option v-for="i in 59" class="font-600">{{ two_digi_number(i++) }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div key="setting-interval" class="form-group  mb-3" v-if="!data_post.post_now">
            <label class="head_form">
              <i class="ft-chevrons-right"></i> กำหนดเวลา หยุด/เริ่ม โพส</label>
            <div class="position-relative">
              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"
                         v-model="data_post.setup_time.set_post_interval.enable">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">เปิดใช้งาน</span>
                </label>
              </div>
              <transition name="slide-fade">
                <div class="row mt-1" v-if="data_post.setup_time.set_post_interval.enable">
                  <div class="col-md-6">
                    <label class="label-control" align="center"><i class="ft-pause"></i> หยุดโพสทุกๆ</label>
                    <select class="form-control font-600">
                      <option v-for="i in 100" class="font-600" :value="i"> {{ i++}} โพส</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="label-control" align="center"><i class="ft-play"></i> เริ่มโพสใหม่ในอีก</label>
                    <select class="form-control font-600">
                      <option v-for="i in 90" class="font-600" :value="i"> {{ i++}}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="label-control" align="center"><i class="ft-clock"></i> หน่วย</label>
                    <select class="form-control font-600">
                      <option value="minute" class="font-600">นาที</option>
                      <option value="hour" class="font-600">ชั่วโมง</option>
                    </select>
                  </div>
                </div>
              </transition>
            </div>
          </div>
          <div key="setting-repeat" class="form-group  mb-3" v-if="!data_post.post_now">
            <label class="head_form">
              <i class="ft-repeat"></i> กำหนดเงื่อนไขการโพสซ้ำ</label>
            <div class="position-relative">
              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"
                         v-model="data_post.setup_time.set_post_repeat.enable">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">เปิดใช้งาน</span>
                </label>
              </div>
              <transition name="slide-fade">
                <div v-if="data_post.setup_time.set_post_repeat.enable">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                           v-model="data_post.setup_time.set_post_repeat.unlimited_date">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">ไม่จำกัดเวลาโพสซ้ำ</span>
                  </label>
                </div>
              </transition>
              <transition name="slide-fade">
                <div class="row mt-1 mb-3" v-if="data_post.setup_time.set_post_repeat.enable">
                  <div class="col-md-3">
                    <label class="label-control" align="center"><i class="ft-rotate-ccw"></i> เงื่อนไขการโพส</label>
                    <select class="form-control font-600" v-model="data_post.setup_time.set_post_repeat.unit_value">
                      <option v-for="i in 150" class="font-600" :value="i">โพสทุกๆ {{ i++ }} </option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label class="label-control" align="center"><i class="ft-clock"></i> หน่วยของเวลา</label>
                    <select class="form-control font-600" v-model="data_post.setup_time.set_post_repeat.unit_time">
                      <option value="minute" class="font-600">นาที</option>
                      <option value="hour" class="font-600">ชั่วโมง</option>
                      <option value="day" class="font-600">วัน</option>
                      <option value="week" class="font-600">สัปดาห์</option>
                      <option value="mount" class="font-600">เดือน</option>
                    </select>
                  </div>
                  <transition-group name="slide-fade">
                    <div key="date-repeat-1" class="col-md-2"
                         v-if="!data_post.setup_time.set_post_repeat.unlimited_date">
                      <label class="label-control" align="center"><i class="ft-calendar"></i>
                        โพสจนถึงวันที่</label>
                      <fieldset class="form-group position-relative">
                        <datepicker id="datePicker-repeat" v-model="data_post.setup_time.set_post_repeat.date"
                                    input-class="form-control font-600 ip-d"
                                    :disabled-picker="data_post.setup_time.set_post_repeat.unlimited_date"
                                    calendar-class="celendar-clock" language="th"></datepicker>
                      </fieldset>
                    </div>
                    <div key="date-repeat-2" class="col-md-2"
                         v-if="!data_post.setup_time.set_post_repeat.unlimited_date">
                      <label class="label-control" align="center"><i class="ft-clock"></i> เลือกชั่วโมง</label>
                      <select class="form-control  font-600" v-model="data_post.setup_time.set_post_repeat.hour"
                              :disabled="data_post.setup_time.set_post_repeat.unlimited_date">
                        <option value="00" class="font-600">00</option>
                        <option v-for="i in 23" class="font-600">{{ two_digi_number(i++) }}</option>
                      </select>
                    </div>
                    <div key="date-repeat-3" class="col-md-2"
                         v-if="!data_post.setup_time.set_post_repeat.unlimited_date">
                      <label class="label-control" align="center"><i class="ft-clock"></i> เลือกนาที</label>
                      <select class="form-control font-600" v-model="data_post.setup_time.set_post_repeat.minute"
                              :disabled="data_post.setup_time.set_post_repeat.unlimited_date">
                        <option value="00" class="ip-d font-600">00</option>
                        <option v-for="i in 59" class="font-600">{{ two_digi_number(i++) }}</option>
                      </select>
                    </div>
                  </transition-group>
                </div>
              </transition>
            </div>
          </div>
        </transition-group>
      </div>
    </div>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';

  export default {
    name: 'setup-post-time',
    props: ['data_post'],
    data: function () {
      return {}
    },
    computed: {
      post_repeat_text: function () {
        if (this.data_post.setup_time.set_post_repeat.enable) {
          return 'ทุกๆ ' + this.data_post.setup_time.set_post_repeat.unit_value + ' ' + this.convert_unit_time(this.data_post.setup_time.set_post_repeat.unit_time);
        }
      }
    },
    methods: {
      two_digi_number: function (number) {
        return number.toLocaleString(undefined, {minimumIntegerDigits: 2});
      },
      convert_unit_time: function (value) {
        let unit_name;
        switch (value) {
          case 'minute':
            unit_name = 'นาที';
            break;
          case 'hour':
            unit_name = 'ชั่วโมง';
            break;
          case 'day':
            unit_name = 'วัน';
            break;
          case 'week':
            unit_name = 'สัปดาห์';
            break;
          case 'mount':
            unit_name = 'เดือน';
            break;
        }
        return unit_name;
      }
    },
    components: {
      Datepicker
    }
  }
</script>

<style>
  .ip-d {
    text-align: center;
  }

  .start-post-text {
    font-size: 20px;
  }
</style>
