<template>
  <div id="upload_image_post">
    <div class="form-group mb-0">
      <label class="head_form">
        <i class="ft-image"></i> เพิ่มรูป (มากสุด 5 รูป)</label>
    </div>
    <ul key="photo-upload"
        class="upload-card mb-2">
      <li class="upload-image mr-1 mb-3" v-for="(photo,index) in photos">
        <div><img :src="photo"/></div>
        <p class="ul-remove" @click="remove_photo(index)"><i class="ft-trash-2"></i></p>
      </li>
      <li class="upload-btn" title="คลิกเพื่ออัพโหลด" @click="upload_file"
          v-if="photos.length < 5">
        <input type="file" ref="upload_btn" @change="onFileChange">
        <div><i class="fa fa-plus"></i></div>
      </li>
    </ul>
  </div>
</template>

<script>
  import swal from 'sweetalert2';

  export default {
    name: 'upload_image_post',
    props: ['photos'],
    methods: {
      onFileChange: function (e) {
        const files = e.target.files || e.dataTransfer.files;
        //console.log(files);
        if (!files.length) return;
        if (files[0].size > 5242880) return swal('ขนาดไฟล์ใหญ่เกินไป', 'ขนาดไฟล์ไม่ควรเกิน 5 MB', 'warning');
        if (!this.checkFileAllow(files[0])) return swal('ประเภทรูปไม่ถูกต้อง', 'นามสกุลภาพที่รองรับ JPG , PNG , BMP เท่านั้น', 'warning');
        this.createImage(files[0]);
      },
      createImage: function (file) {
        const image = new Image();
        const reader = new FileReader();
        const _this = this;
        reader.onload = function (e) {
          let photos = _this.photos;
          photos.push(e.target.result);
          _this.$emit('update:photos', photos);
        };
        reader.readAsDataURL(file);
      },
      upload_file: function () {
        const upload_btn = this.$refs.upload_btn;
        upload_btn.click();
      },
      remove_photo: function (index) {
        let photos = this.photos;
        photos.splice(index, 1);
        this.$emit('update:photos', photos);
      },
      checkFileAllow: function (file) {
        const ext = file.name.split('.');
        switch (ext[1].toLowerCase()) {
          case "jpg":
          case "jpeg":
          case "png":
          case "bmp":
            return true;
            break;
          default:
            return false;
            break;
        }
      }
    }
  }
</script>

<style>
  .upload-card {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .upload-card .upload-image {
    width: 120px;
    height: 100px;
    border: 1px solid #e5e6e9;
    background-color: #f4f7fa;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 3px;
  }

  .upload-card .upload-image div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .upload-card .upload-image div img {
    max-width: 100%;
    max-height: 100%;
  }

  .upload-card .upload-image p.ul-remove {
    margin-top: 5px;
    cursor: pointer;
  }

  .upload-card .upload-image p.ul-remove:hover i {
    color: red;
  }

  .upload-card .upload-btn {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    height: 100px;
    border: 2px dashed #e5e6e9;
    background-color: #f4f7fa;
  }

  .upload-card .upload-btn input[type=file] {
    display: none;
  }

  .upload-card .upload-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
  }

  .upload-card .upload-btn div:hover i {
    color: #00AEB1;
  }

  .upload-card .upload-btn div i {
    font-size: 32px;
  }
</style>
