<template>
  <div id="app">
    <div v-if="login">
      <Topbar></Topbar>
      <Leftbar></Leftbar>
      <router-view></router-view>
    </div>
    <div v-else>
      <div v-if="this.$route.name === 'Register'">
        <Register></Register>
      </div>
      <div v-else="">
        <Pagelogin></Pagelogin>
      </div>
    </div>
  </div>
</template>

<script>
import Topbar from '@/components/Topbar';
import Leftbar from '@/components/Leftbar';
import Pagelogin from '@/components/Pagelogin';
import Register from '@/components/Register';

export default {
  name: 'app',
  data: () => {
    return {}
  },
  components: {
    Topbar,
    Leftbar,
    Pagelogin,
    Register
  },
  computed: {
    login: function() {
      return this.$store.state.login;
    }
  },
  mounted() {

  }
}
</script>

<style>

</style>
