<template>
  <div id="info">
    <div class="card-header">
      <h4 class="card-title">
        <i class="ft-settings"></i> ตั้งค่าบัญชี</h4>
      <a class="heading-elements-toggle">
        <i class="fa fa-ellipsis-v font-medium-3"></i>
      </a>
    </div>
    <div class="card-block">
      <div class="">
        <div class="form-group ">
          <!-- Social Outline Buttons with text -->
          <button data-toggle="modal" data-target="#bootstrap" data-backdrop="static" data-keyboard="false" class="btn btn-social width-150 mr-1 mb-1 btn-facebook">
            <span class="fa fa-facebook"></span> ผูกบัญชีเฟสบุ๊ค
          </button>
        </div>
      </div>
      <Alert icon="ft-users" title="พบข้อผิดพลาด" :message="alert_message" :show.sync="alert" :closeBtn="true"></Alert>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row mb-1" v-for="account in accounts">
            <div class="col-md-4">บัญชี :
              <span class="primary darken-1">{{account.account_name}}</span>
            </div>
            <div class="col-md-4">ประเภทบัญชี :
              <span class="primary darken-1">{{ check_type_acc(account.acc_type) }}</span>
            </div>
            <div class="col-md-4" align='right'>
              <button class="btn btn-outline-danger btn-sm" @click="remove_account(account._id,account.account_name)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="row" v-if="count_account === 0">
            <div class="col-md-12 red accent-2" align="center">
              ไม่พบบัญชีโซเซียลใดๆของคุณ กรุณาเลือกเพิ่มบัญชีตามประเภทที่ต้องการ
            </div>
          </div>
        </li>
      </ul>
      <div class="mt-1">จำนวนบัญชี : {{count_account}}</div>
    </div>
    <!-- Modal add facebook account -->
    <div ref="bootstrap" class="modal fade text-xs-left" id="bootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="myModalLabel35">
              <i class="fa fa-facebook-official blue darken-4"></i> ผูกบัญชีเฟสบุ๊ค
              <small>กรุณากรอกข้อมูลเพื่อเข้าถึงบัญชีของคุณ</small>
            </h3>
          </div>
          <div class="modal-body">

            <fieldset class="form-group floating-label-form-group">
              <label>Username or Email</label>
              <input type="text" class="form-control" v-model="form_account.username" placeholder="Username or Email">
            </fieldset>

            <fieldset class="form-group floating-label-form-group">
              <label>Password</label>
              <input type="password" class="form-control" v-model="form_account.password" placeholder="Password">
            </fieldset>
            <br>
            <p class="blue darken-4">- ข้อระวัง หากกรอกรหัสผิดพลาดเกิน 3 ครั้งระบบจะทำการล็อค IP ท่านชั่วคราว 1 - 3 ชั่วโมง กรุณาตรวจสอบรหัสผ่านของคุณให้ดีก่อนคลิกเพิ่มบัญชี</p>
            <p class="red accent-4">- โปรดทราบว่าทาง isell.in.th จะไม่ทำการเก็บรักษาข้อมูล บัญชีหรือรหัสผ่านของคุณไว้ในระบบ เพียงแต่ใช้ในการยืนยันตัวตนของคุณเท่านั้น ไม่เช่นนั้นเราจะไม่สามารถดำเนินการใดๆกับคำสั่งใช้งานของคุณได้ และขอให้คุณไม่ต้องกังวลว่ารหัส ข้อมูลทั่วไปจะไม่ถูกเปิดเผยออกไปอย่างแน่นอน</p>
          </div>
          <div class="modal-footer">
            <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="ยกเลิก">
            <button type="button" :class="class_cbf" @click="authenticate_social()">เพิ่มบัญชี
              <div class="ld ld-ring ld-spin"></div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { Alert } from '../HTML';
import { config } from '@/config';
import swal from 'sweetalert2';

export default {
  name: 'account',
  data() {
    return {
      accounts: [],
      alert: false,
      alert_message: '',
      facebook_process: false,
      form_account: {
        username: '',
        password: ''
      }
    }
  },
  computed: {
    count_account() {
      return this.accounts.length || 0;
    },
    class_cbf() {
      let class_btn = 'btn btn-primary ld-ext-right ';
      if (this.facebook_process) {
        class_btn = class_btn + 'disabled running';
      }
      return class_btn;
    }
  },
  mounted: function() {
    this.get_account();
  },
  methods: {
    get_account: function() {
      const _this = this;
      _this.$http.get(config.URL_GET_ACCOUNT + '?token=' + this.$cookies.get('_token')).then(function(res) {
        _this.accounts = res.body.data;
      });
    },
    check_type_acc: function(provider) {
      if (provider === 'facebook') return 'Facebook';
    },
    authenticate_social: function() {
      const _this = this;
      if (_this.facebook_process) return false;
      _this.facebook_process = true;
      _this.form_account.token = this.$cookies.get('_token');
      _this.$http.post(config.URL_USER_ADD_FACEBOOK, _this.form_account).then(function(res) {
        if (res.body.status === 100) {
          _this.get_account();
          _this.form_account.username = '';
          _this.form_account.password = '';
          $(_this.$refs.bootstrap).modal('hide');
          swal('สำเร็จ', res.body.message, 'success');
        } else {
          swal('เกิดความผิดพลาด', res.body.message, 'warning');
        }
        _this.facebook_process = false;
      });
    },
    remove_account: function(ref_id, account_name) {
      const _this = this;
      swal({
        title: 'ยืนยันการลบบัญชี',
        text: 'ชื่อบัญชีที่ลบ ' + account_name + ' คุณแน่ใจแล้วใช่หรือไม่ ?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ใช่ ฉันต้องการลบ',
        cancelButtonText: 'ไม่',
        allowOutsideClick: false
      }).then(function() {
        _this.$http.post(config.URL_REMOVE_ACCOUNT + '?token=' + _this.$cookies.get('_token'), {
          id_facebook: ref_id
        }).then(function(res) {
          this.get_account();
          swal('สำเร็จ', 'ลบบัญชี ' + account_name + ' ออกจากระบบแล้ว', 'success');
        });
      }).catch(swal.noop);
    }
  },
  components: {
    Alert
  }
}
</script>
