<template>
  <div id="info">
    <div class="card-header">
      <h4 class="card-title"><i class="ft-lock"></i> เปลี่ยนรหัสผ่าน</h4>
      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'password'
  }
</script>
