<template>
  <div id="settings">
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-body"><!-- Description -->
          <div class="row">
            <div class="col-md-3">
              <div class="card-body collapse in">
                <ul class="list-group list-g-block">
                  <li class="list-group-item">
                    <router-link to="/settings/info">
                      <div class="float-xs-left icon-list-g">
                        <i class="ft-user"></i>
                      </div>
                      ข้อมูลบัญชี
                    </router-link>
                  </li>
                  <li class="list-group-item">
                    <router-link to="/settings/account">
                      <div class="float-xs-left icon-list-g">
                        <i class="ft-settings"></i>
                      </div>
                      ตั้งค่าบัญชี
                    </router-link>
                  </li>
                  <li class="list-group-item">
                    <router-link to="/settings/package">
                      <div class="float-xs-left icon-list-g">
                        <i class="ft-package"></i>
                      </div>
                      แพ็คเกจ / ต่ออายุการใช้งาน
                    </router-link>
                  </li>
                  <li class="list-group-item">
                    <router-link to="/settings/password">
                      <div class="float-xs-left icon-list-g">
                        <i class="ft-lock"></i>
                      </div>
                      เปลี่ยนรหัสผ่าน
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <section id="setting-detail" class="card">
                <router-view></router-view>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    name: 'settings'
  }
</script>
